$orange: #f87620;

@mixin full($percent) 
 {
 	width: $percent;
 	height: $percent;
 }

@mixin fuller($width, $height) 
 {
 	width: $width;
 	height: $height;
 }

 @mixin move ($x, $y) 
 {
 	-ms-transform: translate($x,$y);
    -webkit-transform: translate($x,$y);
    transform: translate($x,$y);
 }

 @font-face {
    font-family: 'blackoutmidnight';
    src: url('./Blackout/blackout-midnight-webfont.eot');
    src: url('./Blackout/blackout-midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Blackout/blackout-midnight-webfont.woff2') format('woff2'),
         url('./Blackout/blackout-midnight-webfont.woff') format('woff'),
         url('./Blackout/blackout-midnight-webfont.ttf') format('truetype'),
         url('./Blackout/blackout-midnight-webfont.svg#blackoutmidnight') format('svg');
    font-weight: normal;
    font-style: normal;

}

 html, body {
 	@include full(100%);
 	padding: 0;
 	margin:0;
 }

 #content-container {
 	@include full(100%);
 }

 #content {
 	@include full(100%);
 	position: fixed;
 	top: 0px;
 	left: 0px;
 }

 #bg {
 	@include full(100%);
 	top: 0px;
 	left: 0px;
 }

 #slide-0 {
    position: fixed;
    font-size: 1.9rem;
    top: 50%;
    left: 50%;
    z-index: 2000;
    color: rgba(0,0,0,0.7);
    background-color: rgba(255,255,0,0.4);
    width: 100px;
    height: 100px;
    // line-height: 100px;
    text-align: center;
    margin: -50px 0 0 -50px;
    border-radius: 100%;

    #hidden {
        display: block;
        font-size: 1rem;
        color: rgba(255,255,0,0.4);
        position: absolute;
        top: 105%;
        text-align: center; 
        // left: 10%;
        font-family: blackoutmidnight;
        transition: opacity 0.2s linear;
        opacity: 0;
    }
 }

 #hudlLogo {
    position: fixed;
    top: 15%;
    left: 55%;
    width: 30%;
 }

 #slide-0:hover {
    #hidden {
        transition: opacity 0.2s linear;
        opacity: 1;
    }
 }

 #slide-1 {
 	position: fixed;
	color: rgba(255,255,0,0.8);
	font-size:2rem;
	font-family: blackoutmidnight;
	top: 15%;
	left: 20%;
 }

 #slide-2 {
 	position: fixed;
    @include full(100%);
 }

 #stadium {
    position: fixed;
    width: 50%;
    bottom: -5%;
    right: 0%;
 }

 .overlay {
    background: rgba(70, 72, 82, 0.3);

 }